*, *::after, *::before {
    box-sizing: border-box;
    flex-basis: inherit;
}

.main-nav-container{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    flex-basis: 12rem;
    border-top: 1px solid black;
    justify-content: center;

}

/* homepage + philosophy + contact + update */
.basic_container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 40rem;
    justify-content: center;

}

.basic_element{
    padding: 1.5rem;
    margin: 1.5rem;
}

#home_page{
    flex-basis: 30vw;
}

#our_philosophy_para1{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 100rem;
    justify-content: center;
}

#contact_page{
    flex-basis: 20rem;
}



/* CART  */
.paymentform {
    display: flex;
    flex-wrap: wrap;
}

.paymentform-item {
    margin: 1rem;
}

#checkout-page-container {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
    justify-content: center;
}

/* PRODUCT LIST */
.product-list-container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 30vw;
    justify-content: center;
}

.product-list-item{
    margin: 1rem;
    padding: 1.2rem;
    border: 0.04rem solid #adadad;
    border-radius: 2rem;
}

/* BANNER UNDER */
.banner_under{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 25rem;
    justify-content: center;
    margin-top: 10rem;
}

.banner_under_element{
    padding: 1.2rem;
}

.newsletter_container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}



/* MEDIA QUERIE */

@media screen and (max-width: 80rem){
    
    .basic_element{
        padding: 0.5rem;
        margin: 0.5rem;
    }
    
    #home_page{
        flex-basis: 40vw;
    }
    .product-list-container{
        flex-basis: 40vw;
    }

    .product-list-item{
        margin: 0.5rem;
        
    }

}


@media screen and (max-width: 40rem){
    .basic_element{
        padding: 0.5rem;
        margin: 0.5rem;
    }
    #home_page{
        flex-basis: 70vw;
    }

    .product-list-container{
        flex-basis: 70vw;
    }

    .product-list-item{
        margin: 0.5rem;
       
    }
    .main-nav-container{
        flex-basis: 20rem;
    }
    
    .main-nav{
        font-size: 1rem;
    }
}