*, *::after, *::before {
    box-sizing: border-box;
    flex-basis: inherit;
}

.main-nav-container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 16em;
    border-top: 1px solid black;
    /* align-items: center; */
    justify-content: center;
}

.homepage_container{
    display: flex;
    flex-wrap: wrap;
    flex-basis: 45rem;
    justify-content: center;
    /* border-top: 1px solid #EE725F; */
}

.homepage_element{
 padding: 2rem;
}


.paymentform {
    display: flex;
    flex-wrap: wrap;
    margin-right: 1rem;
}

.paymentform-item {
    margin-right: 1rem;
}

#checkout-page-container {
    display: flex;
    flex-wrap: wrap;
}

.product-list-container{
    display: flex;
    flex-wrap: wrap;
}

.product-list-item{
    /* width: 30%; */
}


@media screen and (max-width: 90rem){
    
    .main-nav{
        flex-basis:20em;
    }
    .product-list-item{
        width: 40%;
    }
}


@media screen and (max-width: 40rem){
    .product-list-item{
        width: 100%;
    }
 
}