/* -------------GENERAL-------------- */
body {
    font-family: "Josefin Sans", sans-serif;
    height: 100%;
    /* margin: 2rem; */
    font-size: 1rem;
}

p, ol, ul{
    max-width:50rem;
    font-weight : 300;
}

code, samp {
    font-size: 0.8rem;
    display: block;
    background-color: rgb(240, 240, 240);
    padding: 0.5rem;
}

label{
    margin-top:1rem;
    margin-bottom:1rem;
    padding-top: 0.3rem;
    font-weight: 400;
    font-size: 1rem;
}

img{
    width: 100%;
    height: 100%;
   
}

nav {
    text-decoration: none;
    margin-right: 1rem;
}
  

/* -------------GENERAL-------------- */
/* -------------TEXT ELEMENTS-------------- */
h1 {
    font-family: "EB Garamond", serif;
    font-weight : 500;
    font-size: 2.8rem;
    text-align: center;
}

h2 {
    font-family: "EB Garamond", serif;
    font-weight : 500;
    font-size: 2rem;
    text-align: center;
    /* border-bottom: 1px solid #EE725F; */
}

h3 {
    margin-top: 0.5rem;
    font-size: 1.2rem;

}
h4 {
    font-size: 1rem;
}


/* -------------TEXT ELEMENTS-------------- */

/* -------------INTERACTIVE ELEMENTS-------------- */

.in-text-link {
    text-decoration: none;
    display: inline-block;
    margin-right: 2rem;
    color: #fcc917;
    transition-duration: 1s;   
}

.in-text-link:active, .in-text-link:hover, .in-text-link:focus {
    color: #ef4825;
    transform: translate(0, -0.3rem);   
}

.nav-link {
    text-decoration: none;
    margin-right: 2rem;
    color: #fcc917;

    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
}

.nav-link:active, .nav-link:hover, .nav-link:focus {
    color: #ef4825;
    letter-spacing: 0.3rem;
}

.main-nav {
    display: inline-block;
    font-size: 1.2rem;
    color: #fcc917;
    padding: 1rem;
    text-decoration: none;
    transition-property: color;
    transition: 1s;
    /* border: 1px solid black; */
}

.main-nav:active, .main-nav:hover, .main-nav:focus {
    color: #ef4825;
    transform: translate(0, -0.3rem);
}

.citation{
    list-style-type: none;
    color: white;
    margin: 0;
    padding: 1rem;
    border-radius: 0.6rem;
    overflow: hidden;
    background-color: #fdde49;
}

.formbutton {
    /* display: inline-block; */
    border: none;
    padding: 0.5rem;
    width: 10rem;
    border-radius: 0.6rem;
    color: white;
    background-color: #ee725f;
    text-decoration: none;
    transition-property: background-color; 
    transition-duration: 0.5s;
  }

.formbutton:hover, .formbutton:focus {
    background-color: #ef4825;
    color: white;
}

.img-as-link {
    padding: 0.3rem;
    opacity: 1;
    transition: 0.5s;
    backface-visibility: hidden;   
    /* max-width: 20rem; */
    width: initial;
    height: initial;
}

.img-as-link:active, .img-as-link:hover, .img-as-link:focus {
    opacity: 0.5;
}

/* -------------INTERACTIVE ELEMENTS-------------- */


/* -------------COMBINED ELEMENTS-------------- */

form {
    margin-top: 0.5rem;
}

.text-field {
    width: 100%;
    max-width: 20rem;
    padding: 0.3rem 0.3rem;
    margin-bottom: 0.5rem;
    display: inline-block;
    border: 0.04rem solid #adadad;
    border-radius: 5px;
    font-weight: 300;
    font-size: 0.8rem;
}

.text-field-container {
    display: block;
    margin: 0;
}


/* -------------(RADIO BUTTON)-------------- */

.radio-container {
    display: block;
    position: relative;
    margin-top: 1rem;
    padding-left: 3rem;
    cursor: pointer;
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
/* On mouse-over, add a grey background color */
.radio-container:hover input ~ .radiobutton {
    background-color: #ccc;
}

  /* When the radio button is checked, add a blue background */
.radio-container input:checked ~ .radiobutton {
    background-color: #ee725f;
}

.radiobutton {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 50%;
}
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
.radiobutton:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the indicator (dot/circle) when checked */
.radio-container input:checked ~ .radiobutton:after {
    display: block;
}
  
  /* Style the indicator (dot/circle) */
.radio-container .radiobutton:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}
/* -------------(RADIO BUTTON)-------------- */

.checkoutcart, .paymentform, .product-list-item {
    margin: 1rem;
    padding: 1.2rem;
    border: 0.04rem solid #adadad;
    border-radius: 2rem;
}

.checkoutcart {
    width: auto;
}

.paymentform-item {
    margin-top: 1.5rem;
    width: 20rem;
}

#checkout-page h3, .checkoutcart h3 {
    color: #ef4825;
}

.branding-img {
    width: 100%;
    max-width: 50rem;
    height: auto;
}

.banner_img{
    border: 1px solid lightgrey;
}
/* -------------COMBINED ELEMENTS-------------- */

/* -------------Homepage ELEMENTS-------------- */

.basic_element img{
    /* border: 1px solid black; */
    /* height: 90%; */
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* -------------Homepage ELEMENTS-------------- */

/* -------------OUR PHILOSOPHY ELEMENTS-------------- */


#our_philosophy_para1 p{
    text-align: center;
    margin: 2rem;
    max-width: 90rem;
}
/* -------------OUR PHILOSOPHY ELEMENTS-------------- */


/* -------------SHOP PAGE ELEMENTS-------------- */
.product-list-item img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.product-list h3, .paymentform h4 {
    color:#fcc917;
}

/* -------------SHOP PAGE ELEMENTS-------------- */


/* -------------BANNER UNDER-------------- */
.banner_under{
    padding: 2rem;
    background-color: #FFDD4F;
}

.banner_under p{
    text-align: center;
    max-width: 100rem;
}

.banner_under h3{
    border-bottom: 1px solid black;
}

/* -------------BANNER UNDER-------------- */

#contact_page .basic_element{
    position: relative;
    text-align: center;
}

.contacts {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #ef4825; */
    padding: 0.5rem;
    color: lightgrey;
}